<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
   <title>ISRAEL ADESANYA</title>
   <link rel="stylesheet" type="text/css" href="/static/css/estilo.css"/>
</head>
<body>
   
<div>
    <h1 class="detalhe">BIOGRAFIA</h1>
</div> 
  
<div>
    <img src="/static/img/ADESANYA_ISRAEL_L_BELT_09-26.png">
</div>

  
<div>
    <label>
        STATUS
    </label>
</div>

    
<div>
<label>
    ATIVO
</label>
</div>

<div>
<label>
    CIDADE NATAL
</label>
</div>

<div>
<label>
    LAGOS, NIGÉRIA
</label>
</div>

<div>
<label>
    EQUIPE
</label>
</div>

<div>
<label>
    
</label>
</div>

<div>
    <div>
        <label>
            IDADE
        </label>
    </div>
    <div>
        <label>
            30
        </label>
    </div>

    <div>
        <label>
            ALTURA
        </label>
    </div>

    <div>
        <label>
            193.04
        </label>
    </div>

    <div>
        <label>
            PESO
        </label>
    </div>

    <div>
        <label>
            83.9
        </label>
    </div>

    <div>
        <label>
            ESTREIA NO UFC
        </label>
    </div>

    <div>
        <label>
            11.02.18
        </label>
    </div>

    <div>
        <label>
            ENVERGADURA
        </label>
    </div>


    <div>
        <label>
           203.2
        </label>
    </div>

    <div>
        <label>
            ALCANCE DAS PERNAS
        </label>
    </div>

    <div>
        <label>
            113.03
        </label>
    </div>

<div>
    <label>
        SEGUIR AGORA
    </label>
</div>
    
</div>

</body>
</html>