<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
   <title>KHABIB FNURMAGOMEDOV</title>
   <link rel="stylesheet" type="text/css" href="/static/css/estilo.css"/>
</head>
<body>
   
<div>
    <h1 class="detalhe">BIOGRAFIA</h1>
</div> 
  
<div>
    <img src="/static/img/FNURMAGOMEDOV_KHABIB_L_BELT_10-24.png">
</div>

  
<div>
    <label>
        STATUS
    </label>
</div>

    
<div>
<label>
    ATIVO
</label>
</div>

<div>
<label>
    CIDADE NATAL
</label>
</div>

<div>
<label>
    DAGESTAN REPUBLIC, RÚSSIA
</label>
</div>

<div>
<label>
    EQUIPE
</label>
</div>

<div>
<label>
    AKA (AMERICAN KICKBOXING ACADEMY) SAN JOSE
</label>
</div>

<div>
    <div>
        <label>
            IDADE
        </label>
    </div>
    <div>
        <label>
            32
        </label>
    </div>

    <div>
        <label>
            ALTURA
        </label>
    </div>

    <div>
        <label>
            177.8
        </label>
    </div>

    <div>
        <label>
            PESO
        </label>
    </div>

    <div>
        <label>
            70.29
        </label>
    </div>

    <div>
        <label>
            ESTREIA NO UFC
        </label>
    </div>

    <div>
        <label>
            21.01.12
        </label>
    </div>

    <div>
        <label>
            ENVERGADURA
        </label>
    </div>


    <div>
        <label>
            177.8
        </label>
    </div>

    <div>
        <label>
            ALCANCE DAS PERNAS
        </label>
    </div>

    <div>
        <label>
            101.6
        </label>
    </div>

<div>
    <label>
        SEGUIR AGORA
    </label>
</div>
    
</div>

</body>
</html>