<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="/static/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/estilo.css" />
    <title>Home</title>
</head>
<body>
    <div class="linksHeader">
        <div>
            <a href="#atleta" class="links" id="atletas" onmouseover="mouseAtletaOver();" onmouseout="mouseAtletaOut();">ATLETAS</a>
        </div>
        <div>
            <a href="#redes-sociais" class="links" id="redes" onmouseover="mouseRedesOver();" onmouseout="mouseRedesOut();">REDES SOCIAL</a>
        </div>
        <div>
            <a href="/" class="links" id="ufc" onmouseover="mouseUfcOver();" onmouseout="mouseUfcOut();">UFC</a>
        </div>
        <div>
            <a href="" class="links" id="aposta" onmouseover="mouseApostaOver();" onmouseout="mouseApostaOut();">APOSTA</a>
        </div>
        <div >
            <a href="" class="links"  id="sobre" onmouseover="mouseSobreOver();" onmouseout="mouseSobreOut();">SOBRE</a>
        </div>
    </div>
    <div>
        <img src="/static/img/cinturao.jpg" class="img-home">
    </div>
    <div  id="atleta">
        <div class="titulo">
            <label class="ufc">UFC</label></br>
            <label>CAMPEÕES</label>
        </div>
        <div class="imgs-info">
            <div class="coluna-atleta">
                <div>
                    <h2>Khabib Nurmagomedov</h2>
                </div>
                <a href="fnurmagomedov"><img src="/static/img/FNURMAGOMEDOV_KHABIB_L_BELT_10-24.png" target="_blank" class="img-lutadores">
                </a> 
            </div>
            <div class="coluna-atleta">
                <div>
                    <h2>Jon Jones</h2>
                </div>
                <a href="jones"><img src="/static/img/JONES_JON_L_12-29.png" target="_blank" class="img-lutadores">
                </a>
            </div>
            <div class="coluna-atleta">
                <h2>Israel Adesanya </h2>
                <a href="adesanya"><img src="/static/img/ADESANYA_ISRAEL_L_BELT_09-26.png" target="_blank" class="img-lutadores">
                </a>  
            </div>
            <div class="coluna-atleta">
                <div>
                    <h2>Stipe Miočić</h2>
                </div>
                <a href="miocic"><img src="/static/img/MIOCIC_STIPE_L_BELT_08-15.png" target="_blank" class="img-lutadores">
                </a>
            </div>
            <div class="coluna-atleta">
                <div>
                    <h2>Kamaru Usman</h2>
                </div>
                <a href="usman"><img src="/static/img/USMAN_KAMARU_L_BELT_12-14.png" target="_blank" class="img-lutadores">
                </a> 
            </div>
            <div class="coluna-atleta">
                <div>
                    <h2>Alexander Volkanovski</h2>
                </div>
                <a href="volknovski"><img src="/static/img/VOLKANOVSKI_ALEXANDER_L_BELT_07-11.png" target="_blank" class="img-lutadores">
                </a>    
            </div>
        </div>
    </div>
    <div id="redes-sociais">
        <div class="titulo ">
            <label>REDES SOCIAIS</label>
        </div>
        <div class="redes-info">
            <div class="img-alinhamento">
                <a href="https://www.facebook.com/"><img src="/static/img/face.jpg" target="_blank" class="img-redes">
                </a> 
            </div>
            <div class="img-alinhamento">
                <a href="https://www.instagram.com/"><img src="/static/img/insta.jpg" target="_blank" class="img-redes">
                </a> 
            </div>
            <div class="img-alinhamento">
                <a href="https://twitter.com/login?lang=pt"><img src="/static/img/twitter.png" target="_blank" class="img-redes">
                </a> 
            </div>
        </div>
    </div>
    <div class="copyright">
        <label class="copyright ">
            © Copyright 2020 Grupo Faculdade Impacta 
        </label>
    </div>
</body>
</html>