<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
   <title>KAMARU USMAN</title>
   <link rel="stylesheet" type="text/css" href="/static/css/estilo.css"/>
</head>
<body>
   
<div>
    <h1 class="detalhe">BIOGRAFIA</h1>
</div> 

<div>
    <img src="/static/img/USMAN_KAMARU_L_BELT_12-14.png">
</div>

  
<div>
    <label>
        STATUS
    </label>
</div>

    
<div>
<label>
    ATIVO
</label>
</div>

<div>
<label>
    CIDADE NATAL
</label>
</div>

<div>
<label>
    AUCHI, NIGÉRIA
</label>
</div>

<div>
<label>
    EQUIPE
</label>
</div>

<div>
<label>
    BLACKZILIANS - BOCA RATON, FL
</label>
</div>

<div>
    <div>
        <label>
            IDADE
        </label>
    </div>
    <div>
        <label>
            33
        </label>
    </div>

    <div>
        <label>
            ALTURA
        </label>
    </div>

    <div>
        <label>
            182.88
        </label>
    </div>

    <div>
        <label>
            PESO
        </label>
    </div>

    <div>
        <label>
            77.09
        </label>
    </div>

    <div>
        <label>
            ESTREIA NO UFC
        </label>
    </div>

    <div>
        <label>
            12.07.15
        </label>
    </div>

    <div>
        <label>
            ENVERGADURA
        </label>
    </div>


    <div>
        <label>
           193.04
        </label>
    </div>

    <div>
        <label>
            ALCANCE DAS PERNAS
        </label>
    </div>

    <div>
        <label>
            104.14
        </label>
    </div>

<div>
    <label>
        SEGUIR AGORA
    </label>
</div>
    
</div>

</body>
</html>