<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
   <title>VOLKANOVSKI ALEXANDER</title>
   <link rel="stylesheet" type="text/css" href="/static/css/estilo.css"/>
</head>
<body>
    <div class="linksHeader">
        <div>
            <a href="#atleta" class="links" id="atletas" onmouseover="mouseAtletaOver();" onmouseout="mouseAtletaOut();">ATLETAS</a>
        </div>
        <div>
            <a href="#redes-sociais" class="links" id="redes" onmouseover="mouseRedesOver();" onmouseout="mouseRedesOut();">REDES SOCIAL</a>
        </div>
        <div>
            <a href="/" class="links" id="ufc" onmouseover="mouseUfcOver();" onmouseout="mouseUfcOut();">UFC</a>
        </div>
        <div>
            <a href="noticias" class="links" id="aposta" onmouseover="mouseApostaOver();" onmouseout="mouseApostaOut();">APOSTA</a>
        </div>
        <div >
            <a href="contato" class="links"  id="sobre" onmouseover="mouseSobreOver();" onmouseout="mouseSobreOut();">SOBRE</a>
        </div>
    </div>
    <div>
        <h1 class="detalhe">Biografia</h1>
    </div> 
   <div class="pag-detalhes">
        <div>
            <img src="/static/img/FNURMAGOMEDOV_KHABIB_L_BELT_10-24.png">
        </div>
        <div>
            <div>
                <div class="titulo-detalhe">
                    <label>
                        STATUS
                    </label>
                </div>
                <div class="info-detalhe">
                    <label>
                        Ativo
                    </label>
                </div>
            </div>
            <div class="titulo-detalhe">
                <label>
                    CIDADE NATAL
                </label>
            </div>    
            <div class="info-detalhe">
                <label>
                    ALXA, CHINA
                </label>
            </div>
            <div class="titulo-detalhe">
                <label>
                    IDADE
            </label>
            </div>
            <div class="info-detalhe">
                <label>
                    32
                </label>
            </div>
            <div class="titulo-detalhe">
                <label>
                    ALTURA
                </label>
            </div>
            <div class="info-detalhe">
                <label>
                    165.1
                </label>
            </div>
            <div class="titulo-detalhe">
                <label>
                    PESO
                </label>
            </div>
            <div class="info-detalhe">
                <label>
                    61.22
                </label>
            </div>
            <div class="titulo-detalhe">
                <label>
                    ESTREIA NO UFC
                </label>
            </div>
            <div class="info-detalhe">
                <label>
                    31.08.19
                </label>
            </div>
            <div class="titulo-detalhe">
                <label>
                    ENVERGADURA
                </label>
            </div>
            <div class="info-detalhe">
                <label>
                    168.91
                </label>
            </div>
            <div class="titulo-detalhe">
                <label>
                    ALCANCE DAS PERNAS
                </label>
            </div>
            <div class="info-detalhe">
                <label>
                    88.9
                </label>
            </div>
        </div>
    </div>
</body>
</html>